/* GENERAL */
/* *****************************************/

body {
  font-family: Trip-M, sans-serif;
  width: 1135px;
  margin: 0 auto;
  /* background-color: grey; */
}

/* HEADER */
/* *****************************************/

header {
  background-color: white;
  /* border: #333333 2px solid; */
  position: fixed;
  top: 0;
  z-index: 1;
  padding-top: 40px;
  padding-bottom: 20px;
  width: 1135px;
}

header .headerBlock {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* HEADER LOGO */
/* *****************************************/

.headerBlock img {
  width: 190px;
}

/* HEADER NAV */
/* *****************************************/

header button {
  color: white;
  font-size: 16px;
  background-color: black;
  border-radius: 30px;
  padding: 5px 20px;
  border: none;
  text-align: center;
}

header a {
  padding: 7px 10px;
  border-radius: 30px;
  color: black;
  text-decoration: none;
}

.headerBlock a:hover {
  padding: 7px 10px;
  border-radius: 30px;
  /* border: 1px solid black; */
  background-color: #ededed;
  text-decoration: none;
}

header nav span {
  font-size: 16px;
}

header nav i {
  padding-right: 10px;
}
/* TOP MAIN */
/* *****************************************/

span {
  font-size: 54px;
}

.color {
  color: #ff5d5d;
}

main {
  padding-top: 150px;
  background-color: white;
}

.titleNote {
  margin-top: 15px;
  font-size: 14px;
  font-family: Trip-R, sans-serif;
  color: #333333;
}

/* MAIN MENU */
/* *****************************************/
.categories {
  display: flex;
  width: 1135px;
}
main a {
  padding-top: 20px;
}

.cat-button {
  font-size: 16px;
  width: 152px;
  height: 65px;
  border: 1px solid black;
  background-color: white;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.cat-button:hover {
  border: 1px solid black;
  background-color: black;
}
main nav a {
  text-decoration: none;
  color: black;
}

.categories a:hover {
  text-decoration: none;
  color: white;
}
/* IMAGE BLOCK */
/* *****************************************/

.pictures {
  height: 430px;
  display: flex;
  padding-top: 40px;
  gap: 2px;
}
.pictures .beach {
  height: 100%;
  flex: 1;
}

.pictures .side {
  height: 100%;
  width: 480px;
}

.pictures img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.pictures .side {
  /* width: 100%; */
  height: calc(50% - 1px);
}

.beach:hover {
  opacity: 0.5;
}
.brighton:hover {
  opacity: 0.5;
}
.flinders:hover {
  opacity: 0.5;
}

/* BREADCRUMB */
/* *****************************************/
.belowPic {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.breadcrum {
  font-size: 12px;
  font-family: Trip-R, sans-serif;
  color: #333333;
}
.belowPic span {
  font-size: 12px;
  font-family: Trip-R, sans-serif;
  color: #333333;
}
.breadcrum a:hover {
  text-decoration: underline;
}

.belowPic nav {
  margin: 20px 0 20px 0;
}

/* ARTICLE & MAP SECTION */
/* *****************************************/

h2 {
  font-size: 28px;
}

.article {
  padding-top: 50px;
}

.article p {
  font-size: 20px;
  font-family: Georgia, sans-serif;
  color: #333333;
  line-height: 24px;
  margin-top: 30px;
}

.topMap {
  width: 460px;
  height: 260px;
  background-color: #ff5d5d;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.mapBox img {
  width: 460px;
  height: 200px;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.topMap h3 {
  font-size: 30px;
  font-family: Trip-R, sans-serif;
}

.topMap p {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  font-family: Trip-R, sans-serif;
}

.voyageButton {
  padding: 18px;
  color: white;
  font-size: 14px;
  background-color: #333333;
  width: 150px;
  border-radius: 20px;
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
}

.mapBox {
  padding-left: 120px;
  padding-top: 50px;
}

/* ARTICLE & MAP SECTION */
/* *****************************************/

main .capital {
  padding-top: 60px;
}

h2 {
  font-size: 28px;
}

.text {
  font-size: 20px;
  font-family: Trip-R, sans-serif;
  color: #333333;
  line-height: 24px;
  margin-top: 30px;
}

.topMap {
  width: 460px;
  height: 260px;
  background-color: #ff5d5d;
  padding: 30px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.mapBox img {
  width: 460px;
  height: 200px;
  object-fit: cover;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.topMap h3 {
  font-size: 30px;
  font-family: Trip-R, sans-serif;
}

.topMap p {
  padding-top: 20px;
  padding-bottom: 25px;
  font-size: 15px;
  font-family: Trip-R, sans-serif;
}

.voyageButton {
  padding: 18px;
  color: white;
  font-size: 14px;
  background-color: #333333;
  width: 150px;
  border-radius: 20px;
  text-align: center;
}

.description {
  display: flex;
  justify-content: center;
}

.mapBox {
  padding-left: 120px;
  padding-top: 50px;
}

/* MUST SEE SECTION */
/* ****************************************** */
.mustSee {
  /* border: 1px solid black; */
  height: 350px;
  display: flex;
  gap: 15px;
}
.mustTitle {
  line-height: 34px;
  padding-top: 30px;
  margin-bottom: 30px;
}
h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
}
.mustSee p {
  padding-right: 60px;
  font-family: Georgia, sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #333333;
  padding-bottom: 18px;
}

.mustSee a {
  color: #4b4a4a;
}
.mustSee a:hover {
  color: #828282;
}

.mustSee > div:first-child {
  height: 100%;
  width: 300px;
}

.mustSee .carrousel {
  /* border: 1px solid red; */
  height: 100%;
  flex: 1;
  display: flex;
  gap: 15px;
  overflow-x: scroll;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.mustSee .carrousel::-webkit-scrollbar {
  display: none;
}

.mustSee .item {
  /* border: 1px solid blue; */
  height: 100%;
  width: calc((100% - 30px) / 3);
  flex-shrink: 0;
}
.mustSee .item > div {
  /* border: 1px solid black; */
  width: 100%;
  aspect-ratio: 27/ 20;
  position: relative;
}
.mustSee .item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.mustSee .cercle {
  background-color: white;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item img:hover {
  opacity: 0.5;
}

.item h5 {
  font-size: 18px;
  line-height: 25px;
  color: black;
}

.item .num {
  font-size: 12px;
  color: #696969;
}
.item .rev {
  height: 20px;
  /* border: 1px solid black; */
  display: flex;
  align-items: center;
  gap: 10px;
}
.item .rev i {
  font-size: 50px;
  color: #3caa6c;
}

.mustSee .item p {
  font-family: Trip-R, sans-serif;
  font-size: 14px;
  color: #333333;
}

div h5:hover {
  text-decoration: underline;
}
/* FOOTER */
/* *****************************************/

footer {
  height: 200px;
}

/* *****************************************/
/* MEDIA QUERY */
/* *****************************************/

/* 768 px */
/* *****************************************/

@media (max-width: 768px) {
  header {
    background-color: #ff5d5d;

    margin: 0;
  }
  .headerBlock img {
    width: 130px;
  }

  header .headerBlock nav {
    display: none;
  }
  header .visibleCart {
    display: inline;
  }
}
